.DS_Store
htdocs/static/asset/*
htdocs/stikked.db
htdocs/application/config/stikked.php
htdocs/application/logs/*
nbproject

/vendor/
/composer.lock


# Ignores the whole .idea folder and all .iml files
.idea/
*.iml
modules.xml
.idea/misc.xml
*.ipr